.HomeBackgroundImage{
    background-image: url('../public/Rectangle.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: start;
    background-size: 100% 70%;
}